.property-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: auto;
  transition: transform 0.3s ease-in-out;

  .image-container {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.03);
      }
    }

    .fav-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 22px;
      cursor: pointer;
      color: var(--main);
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .card-content {
    padding: 16px;
    text-align: center;

    .title-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: var(--main);
      margin: 0;
    }

    .price {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      white-space: nowrap;
    }

    .details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      font-size: 14px;
      color: #333;
      text-align: center;
      margin-top: 15px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        i {
          color: var(--main);
        }
      }
    }
    .address {
      margin-top: 10px;
    }
  }
}

.guest-rates-card {
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  height: 100%;
  .guest-info {
    display: flex;
    gap: 8px;
    font-size: 14px;
    .guest-data {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 4px;
      h4 {
        font-weight: 600;
        margin: 0;
      }
      p {
        color: var(--grey);
        margin: 0;
      }
    }
  }
  p {
    font-size: 14px;
    color: var(--grey);
    margin: 0;
    margin-top: 1rem;
  }
}

.card {
  border-radius: 12px;
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-body {
    padding: 1rem;
    .card-title {
      font-size: 20px;
      margin-bottom: 8px;
    }
    .card-text {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      color: var(--main);
      margin-bottom: 8px;
    }
    .text-muted {
      color: var(--black);
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  .booding-card-footer {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    margin-top: 8px;
    font-size: 14px;

    a {
      transition: var(--main-transition);
      margin: 0;
      &:hover {
        color: var(--main);
      }
    }
  }
}
